html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.m0 { margin: 0; }
.p0 { padding: 0; }

#layer {
	background-color: #f7f7f7;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    font-size: 10px;
	left: 0;
	position: absolute;
	top: 50px;
	z-index: 1000;
}
#map {
    height: 100%;
	width: 100%;
}

.headers-section {
	background-color: #01277f;
	color: white;
	padding: 4px;
}
.body-cont {
	background-color: #b2b2b2;
	padding: 5px 5px 10px 5px;
}
.overflow-cont {
	height: 100px;
	overflow-y: scroll;
}
.get_destination_route, a:-webkit-any-link {
	color: #427fed;
	text-decoration: none !important;
}
.sub-body-cont {
	font-size:11pt;
}
